html, body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

button{
    position: relative;
    left: 450px;
    top: 500px;
    border-radius: 50%;
    font-size: 32px; 
    background-color: rgb(27, 27, 2); 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(155, 172, 63);
  }
.button1:hover {
    background-color: black;
    color: white;
  }
.button3{
    position: relative;
    left: 10px;
    top: 50px;
    background-color: white; 
    color: black; 
    border-radius: 10%;
    border: 2px solid rgb(155, 172, 63);
}
.button3:hover {
  background-color: black;
  color: white;
}
h1{
    position: relative;
    color: gold;
    left: 650px;
    top : 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: wavy;
}
p{
    color: #352703; 
    font-family: 'Droid serif', serif; 
    font-size: 32px; 
    font-weight: 400; 
    font-style: italic; 
    line-height: 44px; 
    margin: 0 0 12px;
    cursor: pointer; 
}
.btn-group button {
  background-color: rgb(30, 32, 1); 
  border: 1px solid rgb(190, 188, 43); 
  color: white;
  padding: 10px 24px; 
  cursor: pointer; 
   
  display: block; 
}

.btn-group button:not(:last-child) {
  border-bottom: none; 
}


.btn-group button:hover {
  background-color: #b1ae13;
}

.topnav{
  position: relative;
  top:200px;
  left:600px;
  margin-left: 100px;
  margin-top: 30px;
}
.button2{
  position: relative;
  padding: 8px;
  top: 155px;
  left:860px;
  border-radius: 0%;
}

